{
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test"
      }
    }]
  ],
  "env": {
    "development": {
      "presets": [
        "es2015",
        "decorators-legacy",
        "react",
        "babel-react-render-defender"
      ]
    },
    "production": {
      "presets": [
        "es2015",
        "decorators-legacy",
        "react"
      ]
    }
  }
}
